*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: roboto;
    src: url(./assets/fonts/static/Roboto-Regular.ttf);
}

:root{
    --ff-roboto: roboto, serif;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
}


img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

body{
    font-family: var(--ff-roboto);
    font-size: 1rem;
    line-height: 1.5;
}

